<div class="container">
  <div class="post-form">
    <%= render 'shared/new_post_form' %>
  </div>

  <div class="posts-container" id="posts" data-feed-id="1">
    <% @posts&.each do |post| %>
      <% @post = post %>
      <%= render 'posts/post', local: { post: @post} %>
    <% end %>
  </div>
</div>

