<div class="feed-container">
  <h3>Aventureiro Live Feed</h3>
  <p>Check out whats going on right now in Aventureiro, and share your adventure!</p>
  <div class="new-post-form">
    <%= render 'shared/new_post_form' %>
  </div>

  <div class="posts-container" id="posts" data-feed-id="1">
    <% @posts&.each do |post| %>
      <% @post = post %>
      <%= render 'posts/post', local: { post: @post} %>
    <% end %>
  </div>
</div>

