<div class="index-navbar">
  <ul>
    <li><%= link_to "Boat Schedule", boat_journeys_path, class: "av-link" %></li>
    <li><%= link_to "Campsites", campsites_path, class: "av-link" %></li>
    <li><%= link_to "Permits", permit_requests_path, class: "av-link" %></li>
  </ul>
</div>
