<div class="index-navbar-center">
  <div class="index-navbar">
    <div class="navbar-options-center">
        <ul>
          <li><%= link_to "Boat Journeys", boat_journeys_path, class: "av-link" %></li>
          <li><%= link_to "Campsites", campsites_path, class: "av-link" %></li>
        </ul>
      </div>
  </div>
</div>