<div class="local-navbar">
  <div class="navbar-options-left">
      <ul>
        <li><%= link_to "My Campsites", boat_journeys_path, class: "av-link" %></li>
        <li><%= link_to "My Boats", campsites_path, class: "av-link" %></li>
        <li><%= link_to "My Boat Schedule", boat_journeys_path, class: "av-link" %></li>
        <li><%= link_to "My Reservations", campsites_path, class: "av-link" %></li>
      </ul>
    </div>
</div>
