.profile-card-container{
  width: 50%;
  height: 500px;
  margin: 100px auto;
  .profile-card {
    width: 80%;
    box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.1), 2px 3px 6px rgba(50, 50, 50, 0.2);
    padding: 40px 20px;
    text-align: center;
    margin: 0 auto;
    .profile-card-user {
      h3 {
        font-size: 35px;
      }
    }
    .profile-card-description {
      padding: 10px;
    }
  }
}

.profile-edit-card-container {
  width: 30%;
  margin: 100px auto;
  text-align: center;
  h3 {
    font-size: 30px;
  }
  .form-actions {
    margin-bottom: 15px;
  }

}


