.campsite-reservations-container {
  width: 50%;
  text-align: left;
  margin: 100px auto;
  h4 {
    margin-bottom: 24px;
  }
  .campsite-reservation-card {
    box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.1), 2px 3px 6px rgba(50, 50, 50, 0.2);
    margin-bottom: 32px;
    position: relative;
    h4 {
      padding-top: 24px;
      padding-left: 32px;
      margin-bottom: 8px;
    }
    h5 {
      padding-bottom: 16px;
      padding-left: 32px;
    }
    .btn-center {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: center;
      bottom: 24px;
      left: 0;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    p {
      padding-bottom: 16px;
    }
    .campsite-reservation-card-main {
      width: 100%;
      padding-top: 16px;
      padding-bottom: 16px;
      padding-left: 32px;
    }
    .card-colour-box {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $light-green;
      width: 100%;
      height: 112px;
    }
    .campsite-reservation-card-main {
      padding-bottom: 32px;
      ul {
        list-style-type: none;
      }
    }
  }
}

.boat-journey-reservations-container {
  width: 50%;
  text-align: left;
  margin: 100px auto;
  h4 {
    margin-bottom: 24px;
  }
  .boat-journey-reservation-card {
    padding: 25px;
    box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.1), 2px 3px 6px rgba(50, 50, 50, 0.2);
    position: relative;
    margin-bottom: 24px;
    .card-colour-box {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background-color: $light-blue;
      width: 100%;
      height: 80px;
    }
    ul {
      list-style-type: none;
      padding-left: 16px;
      padding-top: 16px;
    }
    h5 {
      padding-left: 16px;
    }
    p {
      padding-left: 16px;
      padding-bottom: 16px;
    }
    .boat-journey-reservation-card-main {
      h3 {
        font-size: 25px;
      }
    }
    .btn-center {
      display: flex;
      justify-content: center;
      width: 100%;
      position: absolute;
      bottom: 24px;
      left: 0px;
    }
  }
}

.local-campsite-reservations-container {
  max-width: 30%;
  text-align: left;
  margin: 100px auto;
  .campsite-reservation-card {
    padding: 25px;
    box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.1), 2px 3px 6px rgba(50, 50, 50, 0.2);
    position: relative;
    ul {
      list-style-type: none;
      padding-left: 16px;
    }
    p {
      padding-bottom: 16px;
    }
    .campsite-reservation-card-main {
      display: flex;
      justify-content: space-around;
      h3 {
        font-size: 25px;
      }
    }
  }
}

.local-boat-journey-reservations-container {
  width: 35%;
  text-align: left;
  margin: 24px auto;
  .boat-journey-reservation-card {
    position: relative;
    box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.1), 2px 3px 6px rgba(50, 50, 50, 0.2);
    margin-bottom: 32px;
    .res-card-btns {
      display: flex;
      justify-content: space-between;
      padding-left: 24px;
      padding-right: 24px;
      width: 100%;
      position: absolute;
      bottom: 16px;
      left: 0;
    }
    ul {
      list-style-type: none;
      width: 100%;
      padding-left: 24px;
      padding-bottom: 80px;
    }
    .btn-center {
      position: absolute;
      bottom: 8px;
      left: 0px;
    }
    h5 {
      padding-left: 24px;
      padding-top: 16px;
    }
    p {
      padding-left: 24px;
      padding-bottom: 16px;
    }
    .card-colour-box {
      background-color: $light-yellow;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 88px;
      width: 100%;
      z-index: -1;
    }
  }
}

.boat-journey-reservation-card-image {
  position: absolute;
  top: 32px;
  right: 32px;
  border: solid 2px white;
  box-shadow: 1px 1px 6px rgba(50, 50, 50, 0.05);
}

.res-boat-image {
  height: 160px;
}
.res-card-margin {
  margin-bottom: 32px;
}

.res-card-pink {
  background-color: $light-yellow;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 96px;
  width: 100%;
  z-index: -1;
}

.res-card-info {
  width: 100%;
  padding-right: 16px;
}
