<% if @boats.empty? %>
  <p>Você ainda não tem barcos.
    <%= link_to "Adicione um barco", new_local_boat_path %></p>
<% else %>
  <div class="container">
    <% @boats.each do |boat| %>
      <div class="card">
        <h3><%= boat.name %></h3>
        <p><%= boat.max_occupation %></p>
        <%= link_to "Delete", local_boat_path(boat), method: :delete %>
      </div>
    <% end %>
  </div>
<% end %>
