.feed-container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
  .new-post-form {
    width: 50%;
    margin: 35px auto;
    .form-inputs {
      height: 100px;
    }
  }

}
