.index-navbar {
  display: flex;
  justify-content: center;

  ul {
    padding: 0;
    margin: 40px 0 56px;
  }

  li {
    display: inline;
    padding: 16px 32px;
    margin: 0 8px;
    border: 1px solid $neutral-dark-brown;
    background-color: $light-gray;

    &:hover {
      background-color: $neutral-light-brown;
    }
  }

  a {
    color: $neutral-dark-brown;
    border: none;
  }
}