.journeys-container {
  width: 500px;
  margin: 48px auto;
}

.journey-card {
  background-color: $neutral-light-blue;
  overflow: hidden;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 12px;
  position: relative;
  border-radius: 6px;
}

.journey-image {
  height: 150px;
  border-radius: 6px;
}

.journey-main-info {
  margin-top: 30px;
  margin-left: 35px;
  p {
    font-weight: bold;
  }
}

.journey-extra-info {
  background-color: white;
  overflow: hidden;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 12px;
}

#see-extra-info {
  position: absolute;
  right: 20px;
}

.btn-center {
  text-align: center;
}
