.journeys-container {
  width: 500px;
  margin: 48px auto;
}

.journey-card {
  background-color: $light-blue;
  overflow: hidden;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 12px;
  position: relative;
}

.journey-image {
  height: 150px;
  border-radius: 5px;
}

.journey-main-info {
  position: absolute;
  top: 50%;
  left: 230px;
}

.journey-extra-info {
  background-color: white;
  overflow: hidden;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 12px;
}

#see-extra-info {
  position: absolute;
  right: 20px;
}