.local-navbar {
  padding: 0 80px;
  height: 64px;
  min-width: 60%;
  background: $light-green;
  transition: 0.5s background-color ease;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline;
    margin-right: 24px;
  }

  .navbar-options-left {
    a {
      color: $white;
    }
  }

  .navbar-options-right {
    .av-link {
      color: $white;
    }
  }
}

.navbar-container {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 6px 0px 10px rgba(40, 40, 40, 0.4);
}