.boat-new-reservation-card {
  width: 50%;
  margin: 0 auto;
  .boat-new-reservation-card-form {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
  }
}

.campsite-new-reservation-card {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  .campsite-new-reservation-card-form {
    width: 50%;
    margin-bottom: 20px;
    text-align: center;
    margin: 0 auto;
  }
}
