.boat-reservation-card {
  width: 50%;
  margin: 0 auto;
  .boat-reservation-card-form {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;

  }

}

.campsite-reservation-card {
  width: 50%;
  margin: 0 auto;
  .campsite-reservation-card-form {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;

  }

}
