.status {
  border-radius: 50px;
  font-family: 'Work Sans', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  // text-transform: uppercase;
}

.availability {
  font-weight: 400;
  color: $dark-green;
}

.price {
  font-weight: 400;
  font-size: 24px;
}

.date-tag {
  margin-top: 24px;
  margin-bottom: 8px;
  font-weight: 400;
  color: $neutral-dark-brown;
}
